@page
@model CleanArchitecture.Web.Pages.About.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="well">
    <h2>Libraries and Tools Used for this Demo</h2>
    <ul>
        <li><a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap 3.4.1</a> - The world's most popular mobile-first and responsive front-end framework</li>
        <li><a href="https://bootswatch.com/" target="_blank">Bootswatch</a> - Themes for Bootstrap</li>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-2.2?view=aspnetcore-2.2" target="_blank">ASP.NET Core 2.2</a> - ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.</li>
        <li><a href="https://docs.microsoft.com/en-us/ef/core/" target="_blank">Entity Framework Core</a> - Entity Framework (EF) Core is a lightweight, extensible, open source and cross-platform version of the popular Entity Framework data access technology</li>
        <li><a href="https://swagger.io/" target="_blank">Swagger</a> - The Best APIs are Built with Swagger Tools</li>
        <li><a href="https://github.com/moq/moq" target="_blank">Moq</a> - The most popular and friendly mocking framework for .NET</li>
        <li><a href="https://xunit.net/" target="_blank">XUnit</a> -  a free, open source, community-focused unit testing tool for the .NET Framework</li>
    </ul>
</div>

<div class="well">
    <h2>Resources Used for this Demo</h2>
    <ul>
        <li><a href="https://app.pluralsight.com/library/courses/csharp-solid-principles/table-of-contents" target="_blank">PluralSight Course : SOLID Principles for C# Developers</a> - By Steve Smith. Every C# developer, or any developer using an object-oriented programming language, needs a good understanding of the SOLID principles. These principles guide your design toward more loosely coupled and maintainable software. </li>
        <li><a href="https://app.pluralsight.com/library/courses/domain-driven-design-fundamentals/table-of-contents" target="_blank">PluralSight Course : Domain-Driven Design Fundamentals</a> - by Steve Smith and Julie Lerman.  This course teaches the fundamentals of Domain-Driven Design (DDD) through a demonstration of customer interactions and a complex demo application, along with advice from Eric Evans.  </li>
        <li><a href="https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/" target="_blank">Architect Modern Web Applications with ASP.NET Core and Azure</a> - A free ebook white paper written by Steve "ardalis" Smith</li>
    </ul>
</div>


